<div *ngIf="descriptionIds && descriptionIds.length !== 0">
  <select class="form-control" (click)="onSelectDescriptionID($event.target.value)">
    <option *ngFor="let item of descriptionIds">{{item}}</option>
  </select>
</div>
<div *ngIf="loadingDescriptionIds">
  loading description ids...
</div>
<div *ngIf="!loadingDescriptionIds && !descriptionIds">
  There are no descriptions registered.
</div>
<div *ngIf="!loadingDescriptionIds && descriptionIds.length === 0">
  There are no descriptions which can be used.
</div>
