<div *ngIf="descriptionIds && descriptionIds.length !== 0">
    <select class="form-control" (click)="onSelectDescriptionID($event.target.value)">
        <option *ngFor="let item of descriptionIds">{{item}}</option>
    </select>
</div>
<div *ngIf="loadingDescriptionIds">
    <span>loading description ids...</span>
</div>
<div *ngIf="!loadingDescriptionIds && !descriptionIds">
    <span>There are no descriptions registered.</span>
</div>
<div *ngIf="!loadingDescriptionIds && descriptionIds && descriptionIds.length === 0">
    <span>There are no descriptions which can be used.</span>
</div>
