:host {
  display: block;

  &.vertical {
    .title {
      display: inline-block;
      position: absolute;
      top: 50%;
      padding: 0;
      transform-origin: left center;
      margin-left: 20%;
      transform: rotate(-90deg);
    }
  }
}