<div class="modal-header">
  <h4 class="modal-title">Select vocabulary entry</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="loading">loading...</div>
  <div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of list" (click)="select(item)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{item.label}}</h5>
      </div>
      <p class="mb-1">{{item.description}}</p>
      <small>{{item.uri}}</small>
    </a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
</div>
