<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="!selectedDesc">
        <h4>Select ID to display the description</h4>
        <div class="form-group">
          <description-id-selection (onSelectedDescription)="onSelectedDescription($event)"></description-id-selection>
        </div>
      </div>
      <div *ngIf="selectedDesc">
        <h4>Sensor description for <b>{{selectedDesc.identifier.value}}</b></h4>
        <div class="highlight">
          <object-tree class="description-visualizer" [model]="selectedDesc"></object-tree>
        </div>
        <button class="btn btn-primary center-block" type="button" (click)="openToEdit()">Edit sensor description</button>
      </div>
    </div>
  </div>
</div>
