<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('gmlId')">
  <label for="gmlId">GML Id</label>
  <input type="text" class="form-control" [(ngModel)]="model.gmlId">
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('description')">
  <label for="description">Description</label>
  <input type="text" class="form-control" [(ngModel)]="model.description">
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('descriptionReference')">
  <label for="gmlId">Description Reference</label>
  <input type="text" class="form-control" [(ngModel)]="model.descriptionReference">
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('identifier')">
  <label for="identifier">Identifier</label>
  <div class="nested-element">
    <div *ngIf="model.identifier">
      <gml-code-type [model]="model.identifier" [config]="config.getConfigFor('identifier')"></gml-code-type>
    </div>
    <div *ngIf="!model.identifier">
      <a type="button" class="btn btn-link" (click)="createIdentifier()">create code type</a>
    </div>
  </div>
</div>
