<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="attachedTo && childDescription">
                <div *ngIf="childDescription.attachedTo">
                    <span>Currently the description with the identifer '{{childDescription.identifier.value}}' is attached to '{{getAttachedToIdentifier()}}'.</span>
                    <button class="btn btn-primary center-block" type="button" (click)="clearAttachedTo()">Reset the attached to connection</button>
                </div>
                <div class="form-group" *ngIf="!childDescription.attachedTo">
                    <label for="attachedTo">Choose one description which should be attached to the '{{childDescription.identifier.value}}' description:</label>
                    <description-id-selection [ignoreIds]="ignoreIds" (onSelectedDescription)="onSelectParentDescription($event)"></description-id-selection>
                </div>
                <div *ngIf="parentDescription">
                    <div class="">
                        <span>Do you want to attach the description '{{childDescription.identifier.value}}' to '{{parentDescription.identifier.value}}'?</span>
                    </div>
                    <button class="btn btn-primary center-block" type="button" (click)="publishAttachedTo()">Publish connection to SOS</button>
                </div>
            </div>
            <div *ngIf="!attachedTo && parentDescription">
                <div class="form-group" *ngIf="parentDescription.components.components.length > 0">
                    <label for="attachedTo">{{parentDescription.identifier.value}}
                        <span>has the following components:</span>
                    </label>
                    <div>
                        <ul class="list-group">
                            <li *ngFor="let item of parentDescription.components.components; let i = index" class="list-group-item">
                                <a [href]="item.href" target="_blank">{{item.title}}</a>
                                <a class="btn btn-link" (click)="onRemoveComponent(i)">
                                    <span>
                                        <i class="fa fa-remove"></i>
                                    </span>
                                    <span>Remove</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="attachedTo">{{parentDescription.identifier.value}}
                        <span>should have the following components:</span>
                    </label>
                    <description-id-selection [ignoreIds]="ignoreIds" (onSelectedDescription)="onSelectChildDescription($event)"></description-id-selection>
                </div>
            </div>
        </div>
    </div>
</div>
