<a *ngIf="!entry" class="list-group-item align-items-start">
  loading...
</a>
<a *ngIf="entry" class="list-group-item list-group-item-action align-items-start" (click)="select(entry)" ngbPopover="{{entry.description}}"
  placement="auto" triggers="mouseenter:mouseleave">
  <div class="row">
    <div class="col-auto mr-auto">{{entry.label}}</div>
    <div class="col-auto" *ngIf="entry.narrower.length">
      <button type="button" class="btn btn-primary btn-sm" (click)="selectByNarrower(entry);$event.stopPropagation();">
        <span>Select by narrower</span>
        <i class="fa fa-fw fa-angle-right"></i>
      </button>
    </div>
  </div>
</a>
