<a *ngIf="!entry" class="list-group-item align-items-start">
  loading...
</a>
<a *ngIf="entry" class="list-group-item list-group-item-action align-items-start" (click)="select(entry)">
  <div class="row">
    <div class="col-auto label">
      <span>{{entry.label}}</span>
      <i class="fa fa-fw fa-question" ngbPopover="{{entry.description}}" placement="auto" triggers="mouseenter:mouseleave"></i>
    </div>
    <div class="col-auto ml-auto" *ngIf="entry.narrower?.length || entry.hasNarrower">
      <button type="button" class="btn btn-primary btn-sm" (click)="selectByNarrower(entry);$event.stopPropagation();">
        <span>{{selectNarrowButtonLabel}}</span>
        <i class="fa fa-fw fa-angle-right"></i>
      </button>
    </div>
  </div>
</a>
