<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Select a template</h3>
      <div class="form-group">
        <select class="form-control" (click)="selectTemplate($event.target.value)">
          <option *ngFor="let item of templates">{{item}}</option>
        </select>
      </div>
      <div class="highlight" *ngIf="description">
        <pre>{{description | toSensorml}}</pre>
        <div class="form-group">
          <label for="gmlId">Define an identifier</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Identifier" [(ngModel)]="description.identifier.value">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="createUUID()">Create identifier</button>
            </span>
          </div>
        </div>
        <button class="btn btn-primary" type="button" (click)="openToEdit()">Open template in editor</button>
      </div>
    </div>
  </div>
</div>
