<card [verticalMode]="hasChild" [title]="'Classifier List'" (reset)="onReset()"
      (close)="close()" (closeChild)="closeChild()">
    <form>
        <swe-abstract-metadata-list [model]="model" [config]="config"></swe-abstract-metadata-list>
        <div class="form-group" *ngIf="!!config && config.isFieldMandatory('classifiers')">
            <label for="classifiers">Classifiers</label>
            <list [list]="model.classifiers" [itemTitle]="'Classifier'" (select)="openNewClassifierItem($event)"
                  (remove)="onRemoveClassifier($event)" (add)="onAddClassifier()"></list>
        </div>
    </form>
</card>
