<card [verticalMode]="hasChild" [title]="title" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()" [(showAll)]="isShowAll">
  <form>
    <text-field [isShowAll]="isShowAll" [config]="config" [model]="model" configName="@sml:name" fieldName="name"></text-field>
  </form>
  <div [ngSwitch]="descriptionType">
    <div *ngSwitchCase="1">
      <h3 style="text-align: center;">Physical System</h3>
      <sml-abstract-physical-process [model]="model.abstractProcess" [config]="config" [isShowAll]="isShowAll" (openAsChild)="openNewChild($event)"></sml-abstract-physical-process>
      <sml-aggregating-process [model]="model.abstractProcess" [config]="config" [isShowAll]="isShowAll" (openAsChild)="openNewChild($event)"></sml-aggregating-process>
    </div>
  </div>
</card>
