<div class="card">
  <card-header title="Contacts" (reset)="onReset()" [(collapsed)]="collapsed" [(editing)]="editing"></card-header>

  <div [hidden]="collapsed">

      <!--<pre>{{model | json}}</pre>-->

      <ul class="list-group list-group-flush">
        <li *ngFor="let item of model; let i = index" class="list-group-item">
          <div>
            <sml-contact-list [model]="item"></sml-contact-list>
            <button type="button" class="btn btn-link" (click)="onRemove(i)">
              <i class="fa fa-remove"></i> Remove Contact
            </button>
          </div>
        </li>
      </ul>
      <div class="card-footer">
        <button type="button" class="btn btn-link" (click)="onAdd()">
          <i class="fa fa-fw fa-plus"></i> Add Contact
        </button>
      </div>

      <dl class="dl-horizontal" [hidden]="editing">
        <dt class="col-sm-3 text-truncate">Phone</dt>
        <dd class="col-sm-9">{{ model.phone }}</dd>
        <dt class="col-sm-3 text-truncate">Address</dt>
        <dd class="col-sm-9">{{ model.address }}</dd>
        <dt class="col-sm-3 text-truncate">Online Resource</dt>
        <dd class="col-sm-9">{{ model.onlineResource }}</dd>
        <dt class="col-sm-3 text-truncate">Contact Instructions</dt>
        <dd class="col-sm-9">{{ model.contactInstructions }}</dd>
        <dt class="col-sm-3 text-truncate">Hours Of Service</dt>
        <dd class="col-sm-9">{{ model.hoursOfService }}</dd>
      </dl>

  </div>
</div>
