<div class="card">
  <card-header title="Contacts" (reset)="onReset()" [(collapsed)]="collapsed" [(editing)]="editing"></card-header>

  <div [hidden]="collapsed">

      <ul class="list-group list-group-flush">
        <li *ngFor="let item of model; let i = index" class="list-group-item">
          <div>
            <sml-contact-list [model]="item"></sml-contact-list>
            <button type="button" class="btn btn-link" (click)="onRemove(i)">
              <i class="fa fa-remove"></i> Remove Contact
            </button>
          </div>
        </li>
      </ul>
      <div class="card-footer">
        <button type="button" class="btn btn-link" (click)="onAdd()">
          <i class="fa fa-fw fa-plus"></i> Add Contact
        </button>
      </div>
  </div>
</div>
