<div class="card">
    <card-header title="Contacts" (reset)="onReset()" (close)="close()"></card-header>
    <div class="card-block">
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of model; let i = index" class="list-group-item">
                <a class="btn btn-link" (click)="openNewContactListItem(item)">Contact List {{i}}</a>
                <a class="btn btn-link" (click)="onRemove(i)"> <i class="fa fa-remove"></i> Remove</a>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-link" (click)="onAdd()">
            <i class="fa fa-fw fa-plus"></i> Add
        </button>
    </div>
</div>