<div class="card">
  <card-header title="Contact List" (reset)="onReset()" (close)="close()"></card-header>
  <div [hidden]="collapsed">
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of model.contacts; let i = index" class="list-group-item">
        <div>
          <iso-responsible-party [model]="item"></iso-responsible-party>
          <button type="button" class="btn btn-link" (click)="onRemove(i)">
            <i class="fa fa-remove"></i> Remove Contact
          </button>
        </div>
      </li>
    </ul>
    <div class="card-footer">
      <button type="button" class="btn btn-link" (click)="onAdd()">
        <i class="fa fa-fw fa-plus"></i> Add Contact
      </button>
    </div>
  </div>
</div>
