<swe-abstract-identifiable [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract-identifiable>
<swe-data-stream [model]="model.data" [config]="config.getConfigFor('sml:data').getConfigFor('swe:DataStream')" [isShowAll]="isShowAll"
  (openAsChild)="delegateOpenNewChild($event)"></swe-data-stream>
<expand-wrapper *ngIf="model.interfaceParameters && config.existInForm('sml:interfaceParameters',model,'interfaceParameters') && (isShowAll || config.isFieldVisible('sml:interfaceParameters','textField',model,'interfaceParameters'))"
  [title]="getDisplayName('interfaceParameters')" [expanded]="config.getConfigFor('sml:interfaceParameters').isExpanded()">
  <swe-data-record [model]="model.interfaceParameters" [config]="config.getConfigFor('sml:interfaceParameters')" [isShowAll]="isShowAll"
    (openAsChild)="delegateOpenNewChild($event)"></swe-data-record>
</expand-wrapper>
