<gml-abstract-feature [model]="model" [config]="config" [isShowAll]="isShowAll"></gml-abstract-feature>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'language'" [configName]="'sml:language'"></text-field>
<expand-wrapper [title]="getDisplayName('keywords')" [expanded]="config.getConfigFor('sml:keywords').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:keywords',model,'keywords') && (isShowAll || config.isFieldVisible('sml:keywords','textField',model,'keywords'))">
    <list *ngIf="!config.getConfigFor('sml:keywords').elementFixQuantity('sml:KeywordList')"
          [list]="model.keywords"
          [fixLength]="config.getConfigFor('sml:keywords').elementFixQuantity('sml:KeywordList')"
          (select)="openNewKeywordListItem($event)"
          (remove)="onRemoveKeywordList($event)"
          (add)="onAddKeywordList()">
    </list>
    <dynamic-element *ngIf="config.getConfigFor('sml:keywords').elementFixQuantity('sml:KeywordList')"
                     [componentType]="keywordListComponent"
                     [model]="model.keywords"
                     [config]="config.getConfigFor('sml:keywords').getConfigFor('sml:KeywordList')"
                     [isShowAll]="isShowAll"
                     (openAsNewChild)="openChild($event)">
    </dynamic-element>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('identification')">
  <div class="form-group" *ngIf="config.existInForm('sml:identification',model,'identification') && (isShowAll || config.isFieldVisible('sml:identification','textField',model,'identification'))">
    <list *ngIf="!config.getConfigFor('sml:identification').elementFixQuantity('sml:IdentifierList')"
          [list]="model.identification"
          [fixLength]="config.getConfigFor('sml:identification').elementFixQuantity('sml:IdentifierList')"
          (select)="openNewIdentifierListItem($event)"
          (remove)="onRemoveIdentifierList($event)"
          (add)="onAddIdentifierList()">
    </list>
    <dynamic-element *ngIf="config.getConfigFor('sml:identification').elementFixQuantity('sml:IdentifierList')"
                     [componentType]="identifierListComponent"
                     [model]="model.identification"
                     [config]="config.getConfigFor('sml:identification').getConfigFor('sml:IdentifierList')"
                     [isShowAll]="isShowAll"
                     (openAsChild)="openNewChild($event)">
    </dynamic-element>
  </div>
</expand-wrapper>
<div class="form-group" *ngIf="config.existInForm('sml:classification',model,'classification') &&(isShowAll || config.isFieldVisible('sml:classification','textField',model,'classification'))">
    <label for="classification">{{getDisplayName('classification')}}</label>
    <list [list]="model.classification" (select)="openNewClassifierListItem($event)" (remove)="onRemoveClassifierList($event)" (add)="onAddClassifierList()"></list>
</div>
<div class="form-group" *ngIf="config.existInForm('sml:validTime',model,'validTime') &&(isShowAll || config.isFieldVisible('sml:validTime','textField',model,'validTime'))">
    <label for="validTime">{{getDisplayName('validTime')}}</label>
    <list [list]="model.validTime" (select)="openNewAbstractTimeItem($event)" (remove)="onRemoveAbstractTime($event)">
        <list-add-section>
            <a type="button" class="btn btn-link" (click)="onAddTimeInstant()">
                <i class="fa fa-fw fa-plus"></i>Add instant
            </a>
            <a type="button" class="btn btn-link" (click)="onAddTimePeriod()">
                <i class="fa fa-fw fa-plus"></i>Add period
            </a>
        </list-add-section>
    </list>
</div>
<div class="form-group" *ngIf="config.existInForm('sml:characteristics',model,'characteristics') &&(isShowAll || config.isFieldVisible('sml:characteristics','textField',model,'characteristics'))">
    <label for="characteristics">{{getDisplayName('characteristics')}}</label>
    <list [list]="model.characteristics" (select)="openNewCharacteristicListItem($event)" (remove)="onRemoveCharacteristicList($event)" (add)="onAddCharacteristicList()"></list>
</div>
<div class="form-group" *ngIf="config.existInForm('sml:capabilities',model,'capabilities') &&(isShowAll || config.isFieldVisible('sml:capabilities','textField',model,'capabilities'))">
    <label for="capabilities">{{getDisplayName('capabilities')}}</label>
    <list [list]="model.capabilities" (select)="openNewCapabilityListItem($event)" (remove)="onRemoveCapabilityList($event)" (add)="onAddCapabilityList()"></list>
</div>
<div class="form-group" *ngIf="config.existInForm('sml:contacts',model,'contacts') &&(isShowAll || config.isFieldVisible('sml:contacts','textField',model,'contacts'))">
    <label for="contacts">{{getDisplayName('contacts')}}</label>
    <list [list]="model.contacts" (select)="openNewContactListItem($event)" (remove)="onRemoveContactList($event)" (add)="onAddContactList()"></list>
</div>
<div class="form-group" *ngIf="config.existInForm('sml:documentation',model,'documentation') &&(isShowAll || config.isFieldVisible('sml:documentation','textField',model,'documentation'))">
    <label for="documentation">{{getDisplayName('documentation')}}</label>
    <list [list]="model.documentation" (select)="openNewDocumentListItem($event)" (remove)="onRemoveDocumentList($event)" (add)="onAddDocumentList()"></list>
</div>
<div class="form-group" *ngIf="config.existInForm('sml:history',model,'history') &&(isShowAll || config.isFieldVisible('sml:history','textField',model,'history'))">
    <label for="history">{{getDisplayName('history')}}</label>
    <list [list]="model.history" (select)="openNewEventListItem($event)" (remove)="onRemoveEventList($event)" (add)="onAddEventList()"></list>
</div>
