<gml-abstract-feature [model]="model" [config]="config" [isShowAll]="isShowAll"></gml-abstract-feature>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'language'" [configName]="'sml:language'"></text-field>
<expand-wrapper [title]="getDisplayName('keywords')" [expanded]="config.getConfigFor('sml:keywords').isExpanded()">
  <div *ngIf="config.existInForm('sml:keywords',model,'keywords') && (isShowAll || config.isFieldVisible('sml:keywords','textField',model,'keywords'))">
    <list *ngIf="!config.getConfigFor('sml:keywords').showFlatten('sml:KeywordList')"
          [list]="model.keywords"
          [fixLength]="config.getConfigFor('sml:keywords').elementFixQuantity('sml:KeywordList')"
          (select)="openNewKeywordListItem($event)"
          (remove)="onRemoveKeywordList($event)"
          (add)="onAddKeywordList()">
    </list>
    <dynamic-element *ngIf="config.getConfigFor('sml:keywords').showFlatten('sml:KeywordList')"
                     [componentType]="keywordListComponent"
                     [model]="model.keywords"
                     [config]="config.getConfigFor('sml:keywords').getConfigFor('sml:KeywordList')"
                     [isShowAll]="isShowAll">
    </dynamic-element>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('identification')" [expanded]="config.getConfigFor('sml:identification').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:identification',model,'identification') && (isShowAll || config.isFieldVisible('sml:identification','textField',model,'identification'))">
    <list *ngIf="!config.getConfigFor('sml:identification').showFlatten('sml:IdentifierList')"
          [list]="model.identification"
          [fixLength]="config.getConfigFor('sml:identification').elementFixQuantity('sml:IdentifierList')"
          (select)="openNewIdentifierListItem($event)"
          (remove)="onRemoveIdentifierList($event)"
          (add)="onAddIdentifierList()">
    </list>
    <dynamic-element *ngIf="config.getConfigFor('sml:identification').showFlatten('sml:IdentifierList')"
                     [componentType]="identifierListComponent"
                     [model]="model.identification"
                     [config]="config.getConfigFor('sml:identification').getConfigFor('sml:IdentifierList')"
                     [isShowAll]="isShowAll"
                     (openAsChild)="openNewChild($event)">
    </dynamic-element>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('classification')" [expanded]="config.getConfigFor('sml:classification').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:classification',model,'classification') &&(isShowAll || config.isFieldVisible('sml:classification','textField',model,'classification'))">
      <list *ngIf="!config.getConfigFor('sml:classification').showFlatten('sml:ClassifierList')"
            [list]="model.classification"
            [fixLength]="config.getConfigFor('sml:classification').elementFixQuantity('sml:ClassifierList')"
            (select)="openNewClassifierListItem($event)"
            (remove)="onRemoveClassifierList($event)"
            (add)="onAddClassifierList()">
      </list>
      <dynamic-element *ngIf="config.getConfigFor('sml:classification').showFlatten('sml:ClassifierList')"
                       [componentType]="classifierListComponent"
                       [model]="model.classification"
                       [config]="config.getConfigFor('sml:classification').getConfigFor('sml:ClassifierList')"
                       [isShowAll]="isShowAll"
                       (openAsChild)="openNewChild($event)">
      </dynamic-element>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('validTime')" [expanded]="config.getConfigFor('sml:validTime').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:validTime',model,'validTime') &&(isShowAll || config.isFieldVisible('sml:validTime','textField',model,'validTime'))">
      <list [list]="model.validTime" (select)="openNewAbstractTimeItem($event)" (remove)="onRemoveAbstractTime($event)">
          <list-add-section>
              <a type="button" class="btn btn-link" (click)="onAddTimeInstant()">
                  <i class="fa fa-fw fa-plus"></i>Add instant
              </a>
              <a type="button" class="btn btn-link" (click)="onAddTimePeriod()">
                  <i class="fa fa-fw fa-plus"></i>Add period
              </a>
          </list-add-section>
      </list>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('characteristics')" [expanded]="config.getConfigFor('sml:characteristics').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:characteristics',model,'characteristics') &&(isShowAll || config.isFieldVisible('sml:characteristics','textField',model,'characteristics'))">
      <list *ngIf="!config.getConfigFor('sml:characteristics').showFlatten('sml:CharacteristicList')"
            [list]="model.characteristics"
            [fixLength]="config.getConfigFor('sml:characteristics').elementFixQuantity('sml:CharacteristicList')"
            (select)="openNewCharacteristicListItem($event)"
            (remove)="onRemoveCharacteristicList($event)"
            (add)="onAddCharacteristicList()">
      </list>
      <dynamic-element *ngIf="config.getConfigFor('sml:characteristics').showFlatten('sml:CharacteristicList')"
                       [componentType]="characteristicsListComponent"
                       [model]="model.characteristics"
                       [config]="config.getConfigFor('sml:characteristics').getConfigFor('sml:CharacteristicList')"
                       [isShowAll]="isShowAll"
                       (openAsChild)="openNewChild($event)">
      </dynamic-element>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('capabilities')" [expanded]="config.getConfigFor('sml:capabilities').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:capabilities',model,'capabilities') &&(isShowAll || config.isFieldVisible('sml:capabilities','textField',model,'capabilities'))">
      <list *ngIf="!config.getConfigFor('sml:capabilities').showFlatten('sml:CapabilitiesList')"
            [list]="model.capabilities"
            [fixLength]="config.getConfigFor('sml:capabilities').elementFixQuantity('sml:CapabilitiesList')"
            (select)="openNewCapabilityListItem($event)"
            (remove)="onRemoveCapabilityList($event)"
            (add)="onAddCapabilityList()">
      </list>
      <dynamic-element *ngIf="config.getConfigFor('sml:capabilities').showFlatten('sml:CapabilitiesList')"
                       [componentType]="capabilityListComponent"
                       [model]="model.capabilities"
                       [config]="config.getConfigFor('sml:capabilities').getConfigFor('sml:CapabilitiesList')"
                       [isShowAll]="isShowAll"
                       (openAsChild)="openNewChild($event)">
      </dynamic-element>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('contacts')" [expanded]="config.getConfigFor('sml:contacts').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:contacts',model,'contacts') &&(isShowAll || config.isFieldVisible('sml:contacts','textField',model,'contacts'))">
      <list *ngIf="!config.getConfigFor('sml:contacts').showFlatten('sml:ContactList')"
            [list]="model.contacts"
            [fixLength]="config.getConfigFor('sml:contacts').elementFixQuantity('sml:ContactList')"
            (select)="openNewContactListItem($event)"
            (remove)="onRemoveContactList($event)"
            (add)="onAddContactList()">
      </list>
      <dynamic-element *ngIf="config.getConfigFor('sml:contacts').showFlatten('sml:ContactList')"
                       [componentType]="contactListComponent"
                       [model]="model.contacts"
                       [config]="config.getConfigFor('sml:contacts').getConfigFor('sml:ContactList')"
                       [isShowAll]="isShowAll"
                       (openAsChild)="openNewChild($event)">
      </dynamic-element>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('documentation')" [expanded]="config.getConfigFor('sml:documentation').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:documentation',model,'documentation') &&(isShowAll || config.isFieldVisible('sml:documentation','textField',model,'documentation'))">
      <list *ngIf="!config.getConfigFor('sml:documentation').showFlatten('sml:DocumentList')"
            [list]="model.documentation"
            [fixLength]="config.getConfigFor('sml:documentation').elementFixQuantity('sml:DocumentList')"
            (select)="openNewDocumentListItem($event)"
            (remove)="onRemoveDocumentList($event)"
            (add)="onAddDocumentList()">
      </list>
      <dynamic-element *ngIf="config.getConfigFor('sml:documentation').showFlatten('sml:DocumentList')"
                       [componentType]="documentListComponent"
                       [model]="model.documentation"
                       [config]="config.getConfigFor('sml:documentation').getConfigFor('sml:DocumentList')"
                       [isShowAll]="isShowAll"
                       (openAsChild)="openNewChild($event)">
      </dynamic-element>
  </div>
</expand-wrapper>
<expand-wrapper [title]="getDisplayName('history')" [expanded]="config.getConfigFor('sml:history').isExpanded()">
  <div class="form-group" *ngIf="config.existInForm('sml:history',model,'history') &&(isShowAll || config.isFieldVisible('sml:history','textField',model,'history'))">
      <list *ngIf="!config.getConfigFor('sml:history').showFlatten('sml:EventList')"
            [list]="model.history"
            [fixLength]="config.getConfigFor('sml:history').elementFixQuantity('sml:EventList')"
            (select)="openNewEventListItem($event)"
            (remove)="onRemoveEventList($event)"
            (add)="onAddEventList()">
      </list>
      <dynamic-element *ngIf="config.getConfigFor('sml:history').showFlatten('sml:EventList')"
                       [componentType]="eventListComponent"
                       [model]="model.history"
                       [config]="config.getConfigFor('sml:history').getConfigFor('sml:EventList')"
                       [isShowAll]="isShowAll"
                       (openAsChild)="openNewChild($event)">
      </dynamic-element>
  </div>
</expand-wrapper>
