<card [verticalMode]="hasChild" [title]="'Documentation List'" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()" [(showAll)]="isShowAll">
  <form>
    <swe-abstract-metadata-list [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract-metadata-list>
    <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('documents')">
      <label for="documents">Documents</label>
      <list [list]="model.documents" [itemTitle]="'OnlineResource'" (select)="openNewOnlineResourceItem($event)" (remove)="onRemove($event)" (add)="onAdd()"></list>
    </div>
  </form>
</card>
