<card [verticalMode]="hasChild" [title]="title" [showCard]="carded" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()"
  [(showAll)]="isShowAll">
  <form>
    <swe-abstract-identifiable [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract-identifiable>
    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('definition')">
      <label for="definition">{{getDisplayName('definition')}}</label>
      <div class="nested-element">
        <div *ngIf="model.definition">
          <gml-code-type [model]="model.definition" [config]="config.getConfigFor('definition')"></gml-code-type>
          <button type="button" class="btn btn-link" (click)="resetDefinition()">
            <i class="fa fa-fw fa-close"></i>
            reset {{getDisplayName('definition')}}
          </button>
        </div>
        <div *ngIf="!model.definition">
          <button type="button" class="btn btn-link" (click)="createDefinition()">
            <i class="fa fa-fw fa-plus"></i>
            create {{getDisplayName('definition')}}
          </button>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('sml:keywords')">
      <label for="keywords">{{getDisplayName('keywords')}}</label>
      <list [list]="model.keywords" (select)="openNewKeywordListItem($event)" (remove)="onRemoveKeywordList($event)" (add)="onAddKeywordList()"></list>
    </div>
    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('sml:identification')">
      <label for="identification">{{getDisplayName('identification')}}</label>
      <list [list]="model.identification" (select)="openNewIdentifierListItem($event)" (remove)="onRemoveIdentifierList($event)"
        (add)="onAddIdentifierList()"></list>
    </div>
    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('sml:classification')">
      <label for="classification">{{getDisplayName('classification')}}</label>
      <list [list]="model.classification" (select)="openNewClassifierListItem($event)" (remove)="onRemoveClassifierList($event)"
        (add)="onAddClassifierList()"></list>
    </div>
    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('sml:contacts')">
      <label for="contacts">{{getDisplayName('contacts')}}</label>
      <list [list]="model.contacts" (select)="openNewContactListItem($event)" (remove)="onRemoveContactList($event)" (add)="onAddContactList()"></list>
    </div>
    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('sml:documentation')">
      <label for="documentation">{{getDisplayName('documentation')}}</label>
      <list [list]="model.documentation" (select)="openNewDocumentListItem($event)" (remove)="onRemoveDocumentList($event)" (add)="onAddDocumentList()"></list>
    </div>
    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('sml:time')">
      <label for="time">{{getDisplayName('time')}}</label>
      <div class="nested-element">
        <div *ngIf="model.time">
          <button class="btn btn-link" *ngIf="!isPeriod(model.time)" (click)="openTimeInstant(model.time)">Time: {{model.time.time | date}}</button>
          <button class="btn btn-link" *ngIf="isPeriod(model.time)" (click)="openTimePeriod(model.time)">Period: {{model.time.begin | date}} - {{model.time.end | date}}</button>
          <button class="btn btn-link" (click)="resetTime()">
            <i class="fa fa-remove"></i>
            Remove</button>
        </div>
        <div *ngIf="!model.time">
          <a type="button" class="btn btn-link" (click)="createTime()">
            <i class="fa fa-fw fa-plus"></i>Add instant
          </a>
          <a type="button" class="btn btn-link" (click)="createPeriod()">
            <i class="fa fa-fw fa-plus"></i>Add period
          </a>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('sml:configuration')">
      <label for="configuration">{{getDisplayName('configuration')}}</label>
      <div>
        <child-item [model]="model.configuration" [itemTitle]="getDisplayName('configuration')" (add)="createSettings()" (remove)="removeSettings()"
          (select)="openSettings()"></child-item>
      </div>
    </div>
    <div class="text-center" *ngIf="componentOptions?.vocabularyConfig !== null">
      <button type="button" class="btn btn-primary" (click)="onClickVocabSelection()">Select by Vocabulary</button>
    </div>
  </form>
</card>
