<card [verticalMode]="hasChild" [title]="'Event'" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()" [(showAll)]="isShowAll">
    <form>
        <swe-abstract-identifiable [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract-identifiable>
        <!--<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('keywords')">
            <label for="keywords">Keywords</label>
            <list [list]="model.keywords" [itemTitle]="'Keyword List'" (select)="openNewKeywordListItem($event)" (remove)="onRemoveKeywordList($event)" (add)="onAddKeywordList()"></list>
        </div>-->
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('definition')">
          <label for="definition">Definition</label>
          <div class="nested-element">
            <div *ngIf="model.definition">
              <gml-code-type [model]="model.definition" [config]="config.getConfigFor('definition')"></gml-code-type>
              <a type="button" class="btn btn-link" (click)="resetDefinition()">
                <i class="fa fa-fw fa-close"></i> reset definition
              </a>
            </div>
            <div *ngIf="!model.definition">
              <a type="button" class="btn btn-link" (click)="createDefinition()">
                <i class="fa fa-fw fa-plus"></i> create definition
              </a>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('identification')">
            <label for="identification">Identification</label>
            <list [list]="model.identification" [itemTitle]="'Identifier List'" (select)="openNewIdentifierListItem($event)" (remove)="onRemoveIdentifierList($event)" (add)="onAddIdentifierList()"></list>
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('classification')">
            <label for="classification">Classification</label>
            <list [list]="model.classification" [itemTitle]="'Classifier List'" (select)="openNewClassifierListItem($event)" (remove)="onRemoveClassifierList($event)" (add)="onAddClassifierList()"></list>
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('contacts')">
            <label for="contacts">Contacts</label>
            <list [list]="model.contacts" [itemTitle]="'Contact List'" (select)="openNewContactListItem($event)" (remove)="onRemoveContactList($event)" (add)="onAddContactList()"></list>
        </div>
    </form>
</card>
