<card [verticalMode]="hasChild" [title]="'Keyword List'" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()"  [(showAll)]="isShowAll">
    <form>
    <text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'codeSpace'"></text-field>
    <div class="form-group" *ngIf="config.existInForm('keywords') &&(isShowAll || config.isFieldVisible('keywords','textField'))">
         <label for="keywords">Keywords</label>
        <strings [list]="model.keywords" [fieldName]="'keywords'" [config]="config"></strings>
    </div>
    <swe-abstract-metadata-list [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract-metadata-list>
</form>
</card>