<card [verticalMode]="hasChild" [title]="'Named Data Component'" (reset)="onReset()" (close)="close()"
      (closeChild)="closeChild()" [(showAll)]="isShowAll">
    <form>
        <text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'name'"></text-field>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('component')">
            <label for="component">{{getDisplayName('component')}}</label>
            <div class="nested-element" [ngSwitch]="componentType">
                <swe-text *ngSwitchCase="1" [model]="model.component" [config]="config.getConfigFor('component')"
                          [isShowAll]="isShowAll"></swe-text>
                <swe-time *ngSwitchCase="2" [model]="model.component" [config]="config.getConfigFor('component')"
                           [isShowAll]="isShowAll"></swe-time>
                <swe-count *ngSwitchCase="3" [model]="model.component" [config]="config.getConfigFor('component')"
                             [isShowAll]="isShowAll"></swe-count>
                <swe-boolean *ngSwitchCase="4" [model]="model.component" [config]="config.getConfigFor('component')"
                          [isShowAll]="isShowAll"></swe-boolean>
                <swe-quantity *ngSwitchCase="5" [model]="model.component" [config]="config.getConfigFor('component')"
                             [isShowAll]="isShowAll"></swe-quantity>
                <swe-category *ngSwitchCase="6" [model]="model.component" [config]="config.getConfigFor('component')"
                             [isShowAll]="isShowAll"></swe-category>
                <swe-time-range *ngSwitchCase="7" [model]="model.component" [config]="config.getConfigFor('component')"
                          [isShowAll]="isShowAll"></swe-time-range>
                <swe-quantity-range *ngSwitchCase="8" [model]="model.component" [config]="config.getConfigFor('component')"
                                [isShowAll]="isShowAll"></swe-quantity-range>
            </div>
        </div>
    </form>
</card>
