<card [verticalMode]="hasChild" [title]="'ParameterList'" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()" [(showAll)]="isShowAll">
    <swe-abstract [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract>
    <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('parameter')">
        <label for="setValue">{{getDisplayName('parameter')}}</label>
        <list [list]="model.parameters" (select)="openNewParameter($event)" (remove)="onRemoveParameter($event)" (add)="onAddParameter()"></list>
    </div>
</card>
