<swe-abstract [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract>
<div *ngIf="config.existInForm('sml:parameter',model,'identifer') &&(isShowAll || config.isFieldVisible('sml:parameter','textField',model,'identifier'))">
    <label for="setValue">{{getDisplayName('parameter')}}</label>
    <list [list]="model.parameters" (select)="openNewParameter($event)" (remove)="onRemoveParameter($event)" (add)="onAddParameter()" [shouldItemVisible]="isItemVisible">
        <list-add-section>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="parameterTypeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create new parameter entry
                    </button>
                <div class="dropdown-menu" aria-labelledby="parameterTypeDropdown">
                    <a class="dropdown-item" *ngFor="let option of options" (click)="onAddParameter(option.type)">{{option.name}}</a>
                </div>
            </div>
        </list-add-section>
    </list>
</div>
