<card [verticalMode]="hasChild" [title]="'Position'" (reset)="onReset()" (close)="close()"
      (closeChild)="closeChild()" [(showAll)]="isShowAll">
    <div *ngIf="(latitude || latitude === null || latitude === 0) && (longitude || longitude === null || longitude === 0)">
        <div class="form-group"  *ngIf="config.existInForm('swe:value',model,'value') &&(isShowAll || config.isFieldVisible('swe:value','numberField',model,'value'))">
            <label for="latitude">Latitude</label>
            <input type="number" [class.valueRequired]="config.isFieldMandatory('swe:value',model,'value')" [readonly]="config.isFieldFixed('swe:value',model,'value')" [required]="config.isFieldMandatory('swe:value')" class="form-control" [(ngModel)]="latitude" name="latitude">
        </div>
        <div class="form-group" *ngIf="config.existInForm('swe:value',model,'value') &&(isShowAll || config.isFieldVisible('swe:value','numberField',model,'value'))">
            <label for="longitude">Longitude</label>
            <input type="number" [class.valueRequired]="config.isFieldMandatory('swe:value',model,'value')" [readonly]="config.isFieldFixed('swe:value',model,'value')" [required]="config.isFieldMandatory('swe:value')" class="form-control" [(ngModel)]="longitude" name="longitude">
        </div>
        <div class="form-group">
            <button class="btn btn-secondary" type="button" (click)="openMap()">
                <i class="fa fa-globe"></i> Open map
            </button>
        </div>
        <div *ngIf="(altitude || altitude === null || altitude === 0)&&config.existInForm('swe:value',model,'value') &&(isShowAll || config.isFieldVisible('swe:value','numberField',model,'value'))" class="form-group">
            <label for="altitude">Altitude</label>
            <input type="number" [class.valueRequired]="config.isFieldMandatory('swe:value',model,'value')" [readonly]="config.isFieldFixed('swe:value',model,'value')" class="form-control" [(ngModel)]="altitude" name="altitude">
        </div>
    </div>
    <div *ngIf="(trueHeading || trueHeading === null || trueHeading === 0) && (pitch || pitch === null || pitch === 0)">
        <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('swe:value','numberField')">
            <label for="trueHeading">True Heading</label>
            <input type="number" [class.valueRequired]="config.isFieldMandatory('swe:value')" [readonly]="config.isFieldFixed('swe:value',model,'value')" [required]="config.isFieldMandatory('swe:value')" class="form-control" [(ngModel)]="trueHeading" name="trueHeading">
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('swe:value','numberField')">
            <label for="pitch">Pitch</label>
            <input type="number" [class.valueRequired]="config.isFieldMandatory('swe:value')" [readonly]="config.isFieldFixed('swe:value',model,'value')" [required]="config.isFieldMandatory('swe:value')" class="form-control" [(ngModel)]="pitch" name="pitch">
        </div>
    </div>
</card>