<card [verticalMode]="hasChild" [title]="'Settings'" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()" [(showAll)]="isShowAll">
  <swe-abstract [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract>
  <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('setValue')">
    <label for="setValue">Set Value</label>
    <list [list]="model.setValue" [itemTitle]="'Set value list'" (select)="openNewSetValueItem($event)" (remove)="onRemoveSetValue($event)" (add)="onAddSetValue()"></list>
  </div>
</card>
