<card [verticalMode]="hasChild" [title]="'Status setting'" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()" [(showAll)]="isShowAll">
  <form>
    <sml-abstract-setting [model]="model" [config]="config" [isShowAll]="isShowAll"></sml-abstract-setting>
    <div class="form-group">
      <div class="checkbox">
        <label class="c-input c-checkbox">
          <input type="checkbox" class="form-control" [(ngModel)]="valueSelected" (change)="updateValue($event)"
                 name="valueSelected">
          <span class="c-indicator"></span>
          Status enabled
        </label>
      </div>
    </div>
  </form>
</card>
