<card [verticalMode]="hasChild" [title]="title" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()" [(showAll)]="isShowAll">
    <form>
        <sml-abstract-setting [model]="model" [config]="config" [isShowAll]="isShowAll"></sml-abstract-setting>
        <div class="form-group">
            <label for="selectType">Select value type</label>
            <select class="form-control" [(ngModel)]="selectedType" name="selectedType">
                <option value="string">String</option>
                <option value="number">Number</option>
                <option value="boolean">Boolean</option>
                <option value="date">Date</option>
            </select>
        </div>
        <div [ngSwitch]="selectedType">
            <div *ngSwitchCase="'string'">
                <label for="label">Value as string</label>
                <input type="text" class="form-control" [(ngModel)]="model.value" name="value">
            </div>
            <div *ngSwitchCase="'number'">
                <label for="label">Value as number</label>
                <input type="number" class="form-control" [(ngModel)]="model.value" name="value">
            </div>
            <div *ngSwitchCase="'boolean'">
                <div class="checkbox">
                    <label class="c-input c-checkbox">
                        <input type="checkbox" class="form-control" [(ngModel)]="model.value" name="value">
                        <span class="c-indicator"></span>
                        Value as boolean
                    </label>
                </div>
            </div>
            <div *ngSwitchCase="'date'">
                <label for="label">Value as date</label>
                <date-picker [(model)]="model.value"></date-picker>
            </div>
        </div>
    </form>
</card>
