pre {
  position: fixed;
  width: 450px;
  height: auto;
  top: 55px;
  bottom: -15px;
  left: -400px;
  transition: left 200ms ease 200ms;
  z-index: 1;
  border: 1px solid black;
  background-color: white;

  &:hover {
    left: 0;
  }
}