<!--<pre class="description-visualizer" *ngIf="!!description">{{description | toSensorml}}</pre>-->
<div *ngIf="!description && !descriptionIsLoading" class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="descriptionTypeDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select the descriptionType
                </button>
                <div class="dropdown-menu" aria-labelledby="descriptionTypeDropdown">
                    <a class="dropdown-item" (click)="onSelectDescriptionType('PhysicalSystem')">PhysicalSystem</a>
                    <a class="dropdown-item"
                       (click)="onSelectDescriptionType('PhysicalComponent')">PhysicalComponent</a>
                </div>
            </div>
        </div>
    </div>
</div>
<object-tree class="description-visualizer" *ngIf="!!description" [model]="description"></object-tree>
<div class="row">
    <div class="col-sm-12 components-container" *ngIf="!!description && !!config" [ngSwitch]="descriptionType">
        <sml-physical-system *ngSwitchCase="1" [model]="description" [config]="config.getConfigFor('description')">
        </sml-physical-system>
        <sml-physical-component *ngSwitchCase="2" [model]="description" [config]="config.getConfigFor('description')">
        </sml-physical-component>
        <sml-simple-process *ngSwitchCase="3" [model]="description" [config]="config.getConfigFor('description')">
        </sml-simple-process>
    </div>
</div>
