.visualizer-container {
  $width: 350px;

  position: fixed;
  width: $width;
  right: 0;
  height: auto;
  top: 70px;
  bottom: 25px;
  z-index: 1;

  .visualizer-button {
    position: absolute;
    right: 25px;
    top: 0;
    cursor: pointer;
  }

  .description-visualizer {
    position: relative;
    display: block;
    height: 100%;
    right: -$width;
    border: 1px solid black;
    background-color: white;
    overflow: auto;
    padding: 10px;
    transition: right 200ms ease 200ms;

    &.expanded {
      right: 0;
    }
  }
}

.row {
  height: 100%;

  .dropdown-item {
    cursor: pointer;
  }

  .type-selector-container {
    padding-top: 15px;
  }

  .components-container {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    white-space: nowrap;
  }
}

:host {
  height: 100%;
  width: 100%;
  display: block;
}