.description-visualizer {
  position: fixed;
  width: 450px;
  height: auto;
  top: 55px;
  bottom: 15px;
  right: -435px;
  transition: right 200ms ease 200ms;
  z-index: 1;
  border: 1px solid black;
  background-color: white;
  overflow: auto;
  padding: 10px;

  &:hover {
    right: 0;
  }
}

.row {
  height: 100%;

  .dropdown-item {
    cursor: pointer;
  }

  .components-container {
    height: 95%;
    padding-top: 5px;
    padding-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    white-space: nowrap;
  }
  
  .publish {
    height: 5%;
  }
}

:host {
  height: 100%;
  width: 100%;
  display: block;
}
