<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'identifier'" [configName]="'swe:identifier'"></text-field>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'label'" [configName]="'swe:label'"></text-field>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'description'" [configName]="'swe:description'"></text-field>
<swe-abstract [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract>
