<swe-abstract-identifiable [isShowAll]="isShowAll" [config]="config" [model]="model" ></swe-abstract-identifiable>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'definition'" [configName]="'@:definition'"></text-field>
<smle-checkbox [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'optional'" [configName]="'@:optional'"></smle-checkbox>
<smle-checkbox [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'updatable'" [configName]="'@:updatable'"></smle-checkbox>
