<div class="card">
    <card-header class="card-header clearfix" [verticalMode]="hasChild" [title]="'Keyword List'" (reset)="onReset()"
                 (close)="close()" (closeChild)="closeChild()"></card-header>
    <div class="card-block">
        <form>
            <swe-abstract-metadata-list [model]="model"></swe-abstract-metadata-list>
            <div class="form-group">
                <label for="codeSpace">Code Space</label>
                <input type="text" class="form-control" [(ngModel)]="model.codeSpace">
            </div>
            <div class="form-group">
                <label for="keywords">Keywords</label>
                <strings [list]="model.keywords"></strings>
            </div>
        </form>
    </div>
</div>