<card [verticalMode]="hasChild" [title]="'Keyword List'" (reset)="onReset()"
      (close)="close()" (closeChild)="closeChild()"  [(showAll)]="isShowAll">
    <form>
        <text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'codeSpace'"></text-field>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('keywords')">
            <label for="keywords">Keywords</label>
            <strings [list]="model.keywords"></strings>
        </div>
        <sml-abstract-metadata-list [model]="model" [config]="config" [isShowAll]="isShowAll"></sml-abstract-metadata-list>
    </form>
</card>
