<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'name'"></text-field>
<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('type')">
    <label for="type">{{getDisplayName('type')}}</label>
    <div class="nested-element" [ngSwitch]="typeType">
        <swe-text *ngSwitchCase="1" [model]="model.type" [config]="config.getConfigFor('type')"
                  [isShowAll]="isShowAll"></swe-text>
        <swe-time *ngSwitchCase="2" [model]="model.type" [config]="config.getConfigFor('type')"
                  [isShowAll]="isShowAll"></swe-time>
        <swe-count *ngSwitchCase="3" [model]="model.type" [config]="config.getConfigFor('type')"
                   [isShowAll]="isShowAll"></swe-count>
        <swe-boolean *ngSwitchCase="4" [model]="model.type" [config]="config.getConfigFor('type')"
                     [isShowAll]="isShowAll"></swe-boolean>
        <swe-quantity *ngSwitchCase="5" [model]="model.type" [config]="config.getConfigFor('type')"
                      [isShowAll]="isShowAll"></swe-quantity>
        <swe-category *ngSwitchCase="6" [model]="model.type" [config]="config.getConfigFor('type')"
                      [isShowAll]="isShowAll"></swe-category>
        <swe-time-range *ngSwitchCase="7" [model]="model.type" [config]="config.getConfigFor('type')"
                        [isShowAll]="isShowAll"></swe-time-range>
        <swe-quantity-range *ngSwitchCase="8" [model]="model.type" [config]="config.getConfigFor('type')"
                            [isShowAll]="isShowAll"></swe-quantity-range>
        <swe-data-record *ngSwitchCase="9" [model]="model.type" [config]="config.getConfigFor('type')"
                         [isShowAll]="isShowAll" (openAsChild)="openNewChild($event)"></swe-data-record>
        <!--<swe-data-array *ngSwitchCase="10" [model]="model.type" [config]="config.getConfigFor('type')"-->
                        <!--[isShowAll]="isShowAll" (openAsChild)="openNewChild($event)"></swe-data-array>-->
    </div>
</div>