<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('value')">
    <label for="value1">{{getDisplayName('value')}} 1</label>
    <input type="number" class="form-control" [(ngModel)]="model.value[0]" name="value1">
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('value')">
    <label for="value2">{{getDisplayName('value')}} 2</label>
    <input type="number" class="form-control" [(ngModel)]="model.value[1]" name="value2">
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('uom')">
    <label for="uom">{{getDisplayName('uom')}}</label>
    <div class="nested-element">
        <swe-unit-of-measure [isShowAll]="isShowAll" [config]="config.getConfigFor('uom')"
                             [model]="model.uom"></swe-unit-of-measure>
    </div>
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('constraint')">
    <label for="constraint">{{getDisplayName('constraint')}}</label>
    <div class="nested-element">
        <swe-allowed-values [isShowAll]="isShowAll" [config]="config.getConfigFor('constraint')"
                            [model]="model.constraint"></swe-allowed-values>
    </div>
</div>
<swe-abstract-range [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract-range>
