<smle-checkbox [isShowAll]="isShowAll" [config]="config" [model]="model" fieldName="collapseWhiteSpace" [configName]="'@collapseWhiteSpace'"></smle-checkbox>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" fieldName="decimalSeparator" [configName]="'@decimalSeparator'"></text-field>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" fieldName="tokenSeparator" [configName]="'@tokenSeparator'"></text-field>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" fieldName="blockSeparator" [configName]="'@blockSeparator'"></text-field>
<swe-encoding [isShowAll]="isShowAll" [config]="config" [model]="model"></swe-encoding>
