<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('value')">
    <label for="value">{{getDisplayName('value')}} 1</label>
    <div class="nested-element">
        <swe-time-position [isShowAll]="isShowAll" [config]="config.getConfigFor('value')"
                           [(model)]="model.value[0]"></swe-time-position>
    </div>
    <label for="value">{{getDisplayName('value')}} 2</label>
    <div class="nested-element">
        <swe-time-position [isShowAll]="isShowAll" [config]="config.getConfigFor('value')"
                           [(model)]="model.value[1]"></swe-time-position>
    </div>
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('referenceTime')">
    <label for="referenceTime">{{getDisplayName('referenceTime')}}</label>
    <div class="nested-element">
        <date-picker class="col-sm-12" [(model)]="model.referenceTime"></date-picker>
    </div>
</div>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'localFrame'"></text-field>
<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('uom')">
    <label for="uom">{{getDisplayName('uom')}}</label>
    <div class="nested-element">
        <swe-unit-of-measure [isShowAll]="isShowAll" [config]="config.getConfigFor('uom')"
                             [model]="model.uom"></swe-unit-of-measure>
    </div>
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('constraint')">
    <label for="constraint">{{getDisplayName('constraint')}}</label>
    <div class="nested-element">
        <swe-allowed-times [isShowAll]="isShowAll" [config]="config.getConfigFor('constraint')"
                           [model]="model.constraint"></swe-allowed-times>
    </div>
</div>
<swe-abstract-range [model]="model" [config]="config"
                               [isShowAll]="isShowAll"></swe-abstract-range>
