<smle-checkbox [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'collapseWhiteSpace'"></smle-checkbox>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'decimalSeperator'"></text-field>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'tokenSeperator'"></text-field>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'blockSeperator'"></text-field>
<swe-encoding [isShowAll]="isShowAll" [config]="config" [model]="model"></swe-encoding>
