<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('swe:value')">
  <label for="value">{{getDisplayName('value')}}</label>
  <div class="nested-element">
    <swe-time-position [isShowAll]="isShowAll" [config]="config.getConfigFor('value')" [(model)]="model.value"></swe-time-position>
  </div>
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('swe:referenceTime')">
  <label for="referenceTime">{{getDisplayName('referenceTime')}}</label>
  <div class="nested-element">
    <date-picker class="col-sm-12" [(model)]="model.referenceTime"></date-picker>
  </div>
</div>
<text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'localFrame'"></text-field>
<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('swe:uom')">
  <label for="uom">{{getDisplayName('uom')}}</label>
  <div class="nested-element">
    <swe-unit-of-measure [isShowAll]="isShowAll" [config]="config.getConfigFor('swe:uom')" [model]="model.uom"></swe-unit-of-measure>
  </div>
</div>
<div class="form-group" *ngIf="isShowAll || config.isFieldVisible('swe:constraint')">
  <label for="constraint">{{getDisplayName('constraint')}}</label>
  <div class="nested-element">
    <swe-allowed-times [isShowAll]="isShowAll" [config]="config.getConfigFor('swe:constraint')" [model]="model.constraint"></swe-allowed-times>
  </div>
</div>
<swe-abstract-simple-component [model]="model" [config]="config" [isShowAll]="isShowAll"></swe-abstract-simple-component>
