.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header {
  position: absolute;
  top: 0px;
  height: 30px;
  right: 0;
  left:0;
  text-align: center;
}

.center {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  height: 40px;
}

.highlight {
  pre, .description-visualizer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.tab-content {
  position: absolute;
  top: 42px;
  bottom: 0;
  right: 0;
  left: 0;
}

pre {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}
