<card [verticalMode]="hasChild" [title]="'Address'" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()">
    <form>
        <div class="form-group" *ngIf="!!config && config.isFieldMandatory('city')">
            <label for="city">City</label>
            <input type="text" class="form-control" [(ngModel)]="model.city">
        </div>

        <div class="form-group" *ngIf="!!config && config.isFieldMandatory('postalCode')">
            <label for="postalCode">Postal Code</label>
            <input type="text" class="form-control" [(ngModel)]="model.postalCode">
        </div>

        <div class="form-group" *ngIf="!!config && config.isFieldMandatory('country')">
            <label for="country">Country</label>
            <input type="text" class="form-control" [(ngModel)]="model.country">
        </div>

        <div class="form-group" *ngIf="!!config && config.isFieldMandatory('administrativeArea')">
            <label for="administrativeArea">Administrative Area</label>
            <input type="text" class="form-control" [(ngModel)]="model.administrativeArea">
        </div>

        <div class="form-group" *ngIf="!!config && config.isFieldMandatory('deliveryPoint')">
            <label for="deliveryPoint">Delivery Point</label>
            <strings [list]="model.deliveryPoint"></strings>
        </div>

        <div class="form-group" *ngIf="!!config && config.isFieldMandatory('electronicMailAddress')">
            <label for="electronicMailAddress">Electronic Mail Address</label>
            <strings [list]="model.electronicMailAddress"></strings>
        </div>
    </form>
</card>
