<card [verticalMode]="hasChild" [title]="title" [showCard]="carded" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()"
  [(showAll)]="isShowAll">
  <form>
    <text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'city'"></text-field>
    <text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'postalCode'"></text-field>
    <text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'country'"></text-field>
    <text-field [isShowAll]="isShowAll" [config]="config" [model]="model" [fieldName]="'administrativeArea'"></text-field>

    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('deliveryPoint')">
      <label for="deliveryPoint">{{getDisplayName('deliveryPoint')}}</label>
      <strings [list]="model.deliveryPoint" [config]="config" [fieldName]="'deliveryPoint'"></strings>
    </div>

    <div class="form-group" *ngIf="isShowAll || config.isFieldVisible('electronicMailAddress')">
      <label for="electronicMailAddress">{{getDisplayName('electronicMailAddress')}}</label>
      <strings [list]="model.electronicMailAddress" [config]="config" [fieldName]="'electronicMailAddress'"></strings>
    </div>
  </form>
</card>
