<card [verticalMode]="hasChild" [title]="'Contact'" (close)="close()" (reset)="onReset()"
      (closeChild)="closeChild()">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="string" class="form-control" [(ngModel)]="model.name">
        </div>
    </form>
    <label>Addresses</label>
    <list [list]="model.addresses" [itemTitle]="'Address'" (select)="openNewAddressItem($event)"
          (remove)="onRemove($event)" (add)="onAdd()"></list>
</card>
