<div class="card">
  <cardHeader title="Contact" (reset)="onReset()" [(collapsed)]="collapsed" [(editing)]="editing"></cardHeader>

  <div [hidden]="collapsed">

    <div class="card-block">

      <div class="container" [hidden]="!editing">
        <div class="form-group">
          <isoPhone [model]="model.phone"></isoPhone>
        </div>
        <div class="form-group">
          <isoAddress [model]="model.address"></isoAddress>
        </div>
        <div class="form-group">
          <isoOnlineResource [model]="model.onlineResource"></isoOnlineResource>
        </div>
        <div class="form-group">
          <label for="model.contactInstructions">Contact Instructions</label>
          <input type="text" class="form-control" [(ngModel)]="model.contactInstructions">
        </div>
        <div class="form-group">
          <label for="model.hoursOfService">Hours Of Service</label>
          <input type="text" class="form-control" [(ngModel)]="model.hoursOfService">
        </div>
      </div>

      <dl class="dl-horizontal" [hidden]="editing">
        <dt class="col-sm-3 text-truncate">Phone</dt>
        <dd class="col-sm-9">{{ model.phone }}</dd>
        <dt class="col-sm-3 text-truncate">Address</dt>
        <dd class="col-sm-9">{{ model.address }}</dd>
        <dt class="col-sm-3 text-truncate">Online Resource</dt>
        <dd class="col-sm-9">{{ model.onlineResource }}</dd>
        <dt class="col-sm-3 text-truncate">Contact Instructions</dt>
        <dd class="col-sm-9">{{ model.contactInstructions }}</dd>
        <dt class="col-sm-3 text-truncate">Hours Of Service</dt>
        <dd class="col-sm-9">{{ model.hoursOfService }}</dd>
      </dl>

    </div>
  </div>
</div>
