<card [verticalMode]="hasChild" [title]="'Online Resource'" (reset)="onReset()" (close)="close()"
      (closeChild)="closeChild()" [(showAll)]="isShowAll">
    <form>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('linkage')">
            <label for="linkage">{{getDisplayName('linkage')}}</label>
            <input type="text" class="form-control" [(ngModel)]="model.linkage" required>
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('protocol')">
            <label for="protocol">{{getDisplayName('protocol')}}</label>
            <input type="text" class="form-control" [(ngModel)]="model.protocol">
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('applicationProfile')">
            <label for="applicationProfile">{{getDisplayName('applicationProfile')}}</label>
            <input type="text" class="form-control" [(ngModel)]="model.applicationProfile">
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('name')">
            <label for="name">{{getDisplayName('name')}}</label>
            <input type="text" class="form-control" [(ngModel)]="model.name">
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('description')">
            <label for="description">{{getDisplayName('description')}}</label>
            <input type="text" class="form-control" [(ngModel)]="model.description">
        </div>
        <div class="form-group" *ngIf="isShowAll || config.isFieldMandatory('function')">
            <label for="function">{{getDisplayName('function')}}</label>
            <select class="form-control" [(ngModel)]="model.function">
                <option value="download">Download</option>
                <option value="information">Information</option>
                <option value="offlineAccess">OfflineAccess</option>
                <option value="order">Order</option>
                <option value="search">Search</option>
            </select>
        </div>
    </form>
</card>
