<div class="card">
    <card-header class="card-header clearfix" [verticalMode]="hasChild()" [title]="'Phone'" (reset)="onReset()" (close)="close()" (closeChild)="closeChild()"></card-header>
    <div class="card-block">
        <form>
            <div class="form-group">
                <label for="voice">Voice</label>
                <strings [list]="model.voice"></strings>
            </div>
            <div class="form-group">
                <label for="facsimile">Facsimile</label>
                <strings [list]="model.facsimile"></strings>
            </div>
        </form>
    </div>
</div>
