<div class="card">

  <cardHeader title="Phone" (reset)="onReset()" [(collapsed)]="collapsed" [(editing)]="editing"></cardHeader>

  <div [hidden]="collapsed">
    <div class="card-block">
      <div class="container" [hidden]="!editing">
        <div class="form-group">
          <label for="voice">Voice</label>
          <input type="text" class="form-control" [(ngModel)]="model.voice">
        </div>
        <div class="form-group">
          <label for="facsimile">Facsimile</label>
          <input type="text" class="form-control" [(ngModel)]="model.facsimile">
        </div>

      </div>

      <dl class="dl-horizontal" [hidden]="editing">
        <dt class="col-sm-3 text-truncate">Voice</dt>
        <dd class="col-sm-9">{{ model.voice }}</dd>
        <dt class="col-sm-3 text-truncate">Facsimile</dt>
        <dd class="col-sm-9">{{ model.facsimile }}</dd>
      </dl>
    </div>

  </div>
</div>
