main {
  top: 130px;
  position: absolute;
  bottom: 10px;
}

fetch-description {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.nested-element {
  margin: 0 20px;
}

.logos {
  height: 95px;

  .n52 {
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    display: none;
    height: 80px;
    margin: 5px;
  }
  @media screen and (min-width: 768px) {
    .n52 {
      display: block;
    }
  }
}
