<list [list]="model" (select)="openChild($event)" (remove)="removeItem($event)" [itemLabelFunc]="getPositionLabel" [itemValueFunc]="getPositionValue">
    <list-add-section>
        <button type="button" class="btn btn-link" (click)="addVector()">
            <i class="fa fa-fw fa-plus"></i>
            <span>Add Vector</span>
        </button>
        <button type="button" class="btn btn-link" (click)="addDataRecord()">
            <i class="fa fa-fw fa-plus"></i>
            <span>Add Data Record</span>
        </button>
    </list-add-section>
</list>
