<list [list]="list" (remove)="remove($event)" [noSelect]="true">
    <list-add-section>
        <input [required]="config.isFieldMandatory(configName,null,fieldName)" [readonly]="config.isFieldFixed(configName,null,fieldName)" type="text" class="form-control" [(ngModel)]="item" name="item"
               (keyup.enter)="add()" (keyup.escape)="clear()">
        <button type="button" class="btn btn-link" (click)="add()">
            <i class="fa fa-fw fa-plus-circle"></i> Add
        </button>
        <button type="button" class="btn btn-link" (click)="clear()">
            <i class="fa fa-fw fa-undo"></i> Clear
        </button>
    </list-add-section>
</list>
