<ul class="list-group list-group-flush">
  <li *ngFor="let item of model; let i = index" class="list-group-item">
    <div class="row">
      <a class="btn btn-link" *ngIf="!isPeriod(item)" (click)="openTimeInstant(item)">Time: {{item.time | date}}</a>
      <a class="btn btn-link" *ngIf="isPeriod(item)" (click)="openTimePeriod(item)">Period: {{item.begin | date}} - {{item.end | date}}</a>
      <a class="btn btn-link" (click)="removeItem(i)"><i class="fa fa-remove"></i> Remove</a>
    </div>
  </li>
  <li class="list-group-item">
    <a type="button" class="btn btn-link" (click)="addTime()">
      <i class="fa fa-fw fa-plus"></i>Add instant
    </a>
    <a type="button" class="btn btn-link" (click)="addPeriod()">
      <i class="fa fa-fw fa-plus"></i>Add period
    </a>
  </li>
</ul>