<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h4>Select description ID which should be deleted:</h4>
        <div class="form-group">
          <description-id-selection (onSelectedDescription)="onSelectedDescription($event)"></description-id-selection>
        </div>
      </div>
      <div *ngIf="selectedDesc">
        <h4>Sensor description</h4>
        <div class="highlight">
          <pre>{{selectedDesc.description}}</pre>
        </div>
        <button class="btn btn-primary center-block" type="button" (click)="onDeleteDescription()">Delete sensor description</button>
      </div>
      <div *ngIf="successfullDeleted">
        <div class="alert alert-success text-center" role="alert">
          The selected description is successfull deleted!
        </div>
      </div>
    </div>
  </div>
</div>
