<div class="row" *ngIf="description && config">
  <div class="col-3">
    <div class="nav flex-column nav-pills menu" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-output-tab" data-toggle="pill" href="#v-pills-output" role="tab">
        <div>Output</div>
        <small>short description</small>
      </a>
      <a class="nav-link" id="v-pills-csv-tab" data-toggle="pill" href="#v-pills-csv" role="tab" *ngIf="csvProcess">
        <div>CSV</div>
        <small>short description</small>
      </a>
      <a class="nav-link" id="v-pills-input-tab" data-toggle="pill" href="#v-pills-input" role="tab">
        <div>Input</div>
        <small>short description</small>
      </a>
      <a class="nav-link" id="v-pills-connection-tab" data-toggle="pill" href="#v-pills-connection" role="tab">
        <div>Connection</div>
        <small>short description</small>
      </a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-output" role="tabpanel">
        <div class="accordion" id="accordion">

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Common
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="outputProcess">
                  <gml-abstract [model]="outputProcess" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component')"></gml-abstract>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Identification
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="outputProcess.identification[0]">
                  <sml-identifier-list [model]="outputProcess.identification[0]" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:identification').getConfigFor('sml:IdentifierList')"
                    (openAsChild)="openChild($event)"></sml-identifier-list>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  FeatureOfInterest
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="outputProcess.featureOfInterest">
                  <sml-feature-of-interest-list [model]="outputProcess.featureOfInterest" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:featureOfInterest').getConfigFor('sml:FeatureList')"
                    (openAsChild)="openChild($event)"></sml-feature-of-interest-list>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                  aria-controls="collapseFour">
                  Outputs
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="outputProcess.outputs">
                  <swe-element-type [model]="outputProcess.outputs.outputs[0].value.data.elementType" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:outputs').getConfigFor('sml:OutputList').getConfigFor('sml:output').getConfigFor('sml:DataInterface').getConfigFor('sml:data').getConfigFor('swe:DataStream').getConfigFor('swe:elementType')"
                    (openAsChild)="openChild($event)"></swe-element-type>
                  <swe-text-encoding [model]="outputProcess.outputs.outputs[0].value.data.encoding" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:outputs').getConfigFor('sml:OutputList').getConfigFor('sml:output').getConfigFor('sml:DataInterface').getConfigFor('sml:data').getConfigFor('swe:DataStream').getConfigFor('swe:encoding')"></swe-text-encoding>
                  <swe-data-record [model]="outputProcess.outputs.outputs[0].value.interfaceParameters" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:outputs').getConfigFor('sml:OutputList').getConfigFor('sml:output').getConfigFor('sml:DataInterface').getConfigFor('sml:interfaceParameters')"
                    (openAsChild)="openChild($event)"></swe-data-record>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                  aria-controls="collapseFive">
                  Position
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <div *ngIf="outputProcess.position">
                  <sml-position [model]="outputProcess.position[0]" [carded]="false" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:position')"
                    (openAsChild)="openChild($event)"></sml-position>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-csv" role="tabpanel" *ngIf="csvProcess">

        <div class="accordion" id="accordionCsv">

          <div class="card">
            <div class="card-header" id="headingOneCsv">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOneCsv" aria-expanded="true" aria-controls="collapseOneCsv">
                  Common
                </button>
              </h5>
            </div>
            <div id="collapseOneCsv" class="collapse show" aria-labelledby="headingOneCsv" data-parent="#accordionCsv">
              <div class="card-body">
                <div *ngIf="csvProcess">
                  <gml-abstract [model]="csvProcess" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component')"></gml-abstract>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwoCsv">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwoCsv" aria-expanded="false" aria-controls="collapseTwoCsv">
                  Input
                </button>
              </h5>
            </div>
            <div id="collapseTwoCsv" class="collapse" aria-labelledby="headingTwoCsv" data-parent="#accordionCsv">
              <div class="card-body">
                <div *ngIf="csvProcess.inputs">
                  <swe-element-type [model]="csvProcess.inputs.inputs[0].value.data.elementType" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:inputs').getConfigFor('sml:InputList').getConfigFor('sml:input').getConfigFor('sml:DataInterface').getConfigFor('sml:data').getConfigFor('swe:DataStream').getConfigFor('swe:elementType')"
                    (openAsChild)="openChild($event)"></swe-element-type>
                  <swe-text-encoding [model]="csvProcess.inputs.inputs[0].value.data.encoding" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:inputs').getConfigFor('sml:InputList').getConfigFor('sml:input').getConfigFor('sml:DataInterface').getConfigFor('sml:data').getConfigFor('swe:DataStream').getConfigFor('swe:encoding')"></swe-text-encoding>
                  <!-- <swe-data-record [model]="csvProcess.inputs.inputs[0].value.interfaceParameters" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:inputs').getConfigFor('sml:InputList').getConfigFor('sml:input').getConfigFor('sml:DataInterface').getConfigFor('sml:interfaceParameters')"
                    (openAsChild)="openChild($event)"></swe-data-record> -->
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThreeCsv">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThreeCsv" aria-expanded="false" aria-controls="collapseThreeCsv">
                  Output
                </button>
              </h5>
            </div>
            <div id="collapseThreeCsv" class="collapse" aria-labelledby="headingThreeCsv" data-parent="#accordionCsv">
              <div class="card-body">
                <div *ngIf="csvProcess.outputs">
                  <swe-element-type [model]="csvProcess.outputs.outputs[0].value.data.elementType" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:outputs').getConfigFor('sml:OutputList').getConfigFor('sml:output').getConfigFor('sml:DataInterface').getConfigFor('sml:data').getConfigFor('swe:DataStream').getConfigFor('swe:elementType')"
                    (openAsChild)="openChild($event)"></swe-element-type>
                  <swe-text-encoding [model]="csvProcess.outputs.outputs[0].value.data.encoding" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:outputs').getConfigFor('sml:OutputList').getConfigFor('sml:output').getConfigFor('sml:DataInterface').getConfigFor('sml:data').getConfigFor('swe:DataStream').getConfigFor('swe:encoding')"></swe-text-encoding>
                  <!-- <swe-data-record [model]="csvProcess.outputs.outputs[0].value.interfaceParameters" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:outputs').getConfigFor('sml:OutputList').getConfigFor('sml:output').getConfigFor('sml:DataInterface').getConfigFor('sml:interfaceParameters')"
                    (openAsChild)="openChild($event)"></swe-data-record> -->
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFourCsv">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFourCsv" aria-expanded="false" aria-controls="collapseFourCsv">
                  Parameter
                </button>
              </h5>
            </div>
            <div id="collapseFourCsv" class="collapse" aria-labelledby="headingFourCsv" data-parent="#accordionCsv">
              <div class="card-body">
                <div *ngIf="csvProcess.parameters">
                  <sml-parameter-list [model]="csvProcess.parameters" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:parameters').getConfigFor('sml:ParameterList').getConfigFor('sml:parameter')"
                    (openAsChild)="openChild($event)"></sml-parameter-list>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-input" role="tabpanel">

        <div class="accordion" id="accordionInput">

          <div class="card">
            <div class="card-header" id="headingOneInput">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOneInput" aria-expanded="true" aria-controls="collapseOneInput">
                  Common
                </button>
              </h5>
            </div>
            <div id="collapseOneInput" class="collapse show" aria-labelledby="headingOneInput" data-parent="#accordionInput">
              <div class="card-body">
                <div *ngIf="inputProcess">
                  <gml-abstract [model]="inputProcess" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component')"></gml-abstract>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwoInput">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwoInput" aria-expanded="false" aria-controls="collapseTwoInput">
                  Identification
                </button>
              </h5>
            </div>
            <div id="collapseTwoInput" class="collapse" aria-labelledby="headingTwoInput" data-parent="#accordionInput">
              <div class="card-body">
                <div *ngIf="inputProcess?.identification[0]">
                  <sml-identifier-list [model]="inputProcess.identification[0]" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:identification').getConfigFor('sml:IdentifierList')"
                    (openAsChild)="openChild($event)"></sml-identifier-list>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThreeInput">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThreeInput" aria-expanded="false" aria-controls="collapseThreeInput">
                  FeatureOfInterest
                </button>
              </h5>
            </div>
            <div id="collapseThreeInput" class="collapse" aria-labelledby="headingThreeInput" data-parent="#accordionInput">
              <div class="card-body">
                <div *ngIf="inputProcess?.featureOfInterest">
                  <sml-feature-of-interest-list [model]="inputProcess.featureOfInterest" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:featureOfInterest').getConfigFor('sml:FeatureList')"
                    (openAsChild)="openChild($event)"></sml-feature-of-interest-list>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFourInput">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFourInput" aria-expanded="false" aria-controls="collapseFourInput">
                  Outputs
                </button>
              </h5>
            </div>
            <div id="collapseFourInput" class="collapse" aria-labelledby="headingFourInput" data-parent="#accordionInput">
              <div class="card-body">
                <div *ngIf="inputProcess?.outputs">
                  <sml-output-list [model]="inputProcess.outputs" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:outputs').getConfigFor('sml:OutputList').getConfigFor('sml:output')"
                    (openAsChild)="openChild($event)"></sml-output-list>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFiveInput">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFiveInput" aria-expanded="false" aria-controls="collapseFiveInput">
                  Position
                </button>
              </h5>
            </div>
            <div id="collapseFiveInput" class="collapse" aria-labelledby="headingFiveInput" data-parent="#accordionInput">
              <div class="card-body">
                <div *ngIf="inputProcess?.position">
                  <h4>Position:</h4>
                  <sml-position [model]="inputProcess.position[0]" [carded]="false" [config]="config.getConfigFor('description').getConfigFor('sml:components').getConfigFor('sml:ComponentList').getConfigFor('sml:component').getConfigFor('sml:position')"
                    (openAsChild)="openChild($event)"></sml-position>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="tab-pane fade" id="v-pills-connection" role="tabpanel">
        <div *ngIf="description?.connections">
          <sml-connection-list [model]="description.connections" [config]="config.getConfigFor('description').getConfigFor('sml:connections').getConfigFor('sml:ConnectionList')"
            (openAsChild)="openChild($event)"></sml-connection-list>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="footer-buttons container" *ngIf="!!description">
    <div class="mx-auto" style="width: 100%;">
      <app-publish-button [process]="description"></app-publish-button>
      <button class="btn btn-primary" (click)="provideDownload()">Download</button>
    </div>
  </div>
</div> -->
