<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Existing streams:</h3>
      <div class="list-group" *ngIf="streams">
        <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let stream of streams" (click)="selectStream(stream)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{stream.name}}</h5>
            <small>{{stream.status}}</small>
          </div>
          <small class="mb-1">{{stream.definition}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
