<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Existing streams:</h3>
      <div class="card" *ngFor="let stream of streams">
        <div class="card-header">
          {{stream.name}} -
          <small>{{stream.status}}</small>
        </div>
        <div class="card-body">
          <small class="mb-1 card-text">{{stream.definition}}</small>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="editStream(stream)">Edit</button>
          <button class="btn btn-danger" style="float: right;" (click)="deleteStream(stream)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
