.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  div {
    width: 300px;
  }
}

.box .content {
  flex: 1 1 auto;
  position: relative;

  .import {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
  }
}

.box .footer {
  flex: 0 1 40px;
  display: flex;
  justify-content: center;
}
