<div class="container">
  <h3>
    You can choose between different templates for your Ingestion workflow:
  </h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start" (click)="openTemplate('mqtt-template')">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Create Ingestion Workflow for MQTT sources</h5>
        <!-- <small class="text-muted">3 days ago</small> -->
      </div>
      <p class="mb-1">Based on a template you can create an Ingestion Workflow for MQTT sources.</p>
      <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start" (click)="openTemplate('csv-template')">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Create Ingestion Workflow for CSV files on FTP server</h5>
        <!-- <small class="text-muted">3 days ago</small> -->
      </div>
      <p class="mb-1">Based on a template you can create an Ingestion Workflow for CSV files on FTP server.</p>
      <!-- <small class="text-muted">Donec id elit non mi porta.</small> -->
    </a>
  </div>
</div>
